In [3]:
import csv
import pandas as pd

In [6]:
cars=pd.read_csv("cars.csv",sep=";")

In [10]:
cars.head()

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,STRING,DOUBLE,INT,DOUBLE,DOUBLE,DOUBLE,DOUBLE,INT,CAT
1,Chevrolet Chevelle Malibu,18.0,8,307.0,130.0,3504.,12.0,70,US
2,Buick Skylark 320,15.0,8,350.0,165.0,3693.,11.5,70,US
3,Plymouth Satellite,18.0,8,318.0,150.0,3436.,11.0,70,US
4,AMC Rebel SST,16.0,8,304.0,150.0,3433.,12.0,70,US

In [12]:
cars.shape

(407, 9)

In [13]:
cars.size

3663

In [14]:
cars.ndim

2

In [15]:
cars.shape[0]

407

In [17]:
cars.shape[1]

9

In [21]:
type(cars)

pandas.core.frame.DataFrame

In [24]:
!pip install ijson

Collecting ijson
  Downloading https://files.pythonhosted.org/packages/68/a4/bd5d2b8edb4c0e2d1c17cbd64ca038d3dc86fae9ed788879d83b93f601cb/ijson-3.1.4-cp36-cp36m-win_amd64.whl (48kB)
Installing collected packages: ijson
Successfully installed ijson-3.1.4

You are using pip version 9.0.1, however version 21.0.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [46]:
import json
import pandas as pd

In [52]:
sample=pd.read_json('employee.json')
sample.head()

                                           Employees
0  {'userId': 'krish', 'jobTitle': 'Developer', '...
1  {'userId': 'devid', 'jobTitle': 'Developer', '...
2  {'userId': 'tin', 'jobTitle': 'Program Directo...

In [53]:
sample.shape

(3, 1)

In [54]:
sample.size

3

In [55]:
sample.ndim

2